{%extends 'app/base.html'%}

{%block content%}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nam molestias sequi soluta,
     cumque neque nemo praesentium atque temporibus ab quae.
   </p>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Consequatur excepturi necessitatibus veniam cum maxime,
      aspernatur iste quibusdam laborum facere exercitationem atque 
      dignissimos porro aliquid dolores voluptate, consectetur ad fugit 
      aliquam eos reprehenderit ipsum enim veritatis labore voluptas? 
      Laborum dolorem cumque quam consequatur 
    illo pariatur quasi perspiciatis nisi. Voluptatem, repellat amet?
   </p>

</div>
{%endblock%}